name: Code Checks

on:
  push:
  pull_request:
    branches:
      - master

jobs:

  cppcheck_18_04:
    runs-on: ubuntu-18.04
    if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Requirements
        run: |
          sudo apt update
          sudo apt install -y cppcheck

      - name: Run cppcheck test
        run: ./scripts/cppcheck.sh

  cppcheck_2004:
    runs-on: ubuntu-20.04
    if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Requirements
        run: |
          sudo apt update
          sudo apt install -y cppcheck

      - name: Run cppcheck test
        run: ./scripts/cppcheck.sh

  cppcheck_latest:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Requirements
        run: |
          sudo apt update
          sudo apt install -y cppcheck

      - name: Run cppcheck test
        run: ./scripts/cppcheck.sh
